In [1]:
from tkinter import*
from tkinter import messagebox
import pymysql
from tkcalendar import DateEntry
from tkinter import ttk
from PIL import Image , ImageTk

In [2]:
r = Tk()
r.geometry("1000x800")
r.title("EMPLOYEE DATABASE")
r.configure(bg = "purple")
img = PhotoImage(file = "C:\\Users\\tabish\\Downloads\\imresizer-1692620664728.png")
lb = Label(image = img)
lb.place(x = 0 , y = 0)

In [3]:
def createconnection():
    return pymysql.connect(host = "localhost" , database = "employee_management" , user = "root" , password = "Bitu@2222" , port = 3306)

In [4]:
createconnection()

In [5]:
def createtable():
    conn = createconnection()
    cursor = conn.cursor()
    query = "create table record(employee_id VARCHAR(50), employee_name VARCHAR(50) ,dob VARCHAR(50), age VARCHAR(50),gender VARCHAR(50),fathers_name VARCHAR(50), emp_mail_id VARCHAR(50) , designation VARCHAR(50), salary VARCHAR(50), office_address VARCHAR(50), original_city VARCHAR(50), pincode VARCHAR(50), contact_no VARCHAR(50))"
    cursor.execute(query)
    conn.commit()
    print("TABLE IS CREATED")
    conn.close()
createtable()

In [6]:
def submit():
    employee_id = int(employee_id_entry.get())
    employee_name = employee_name_entry.get()
    dob = dob_entry.get()
    age = int(age_entry.get())
    gender = gender_entry.get()
    fathers_name = fathers_name_entry.get()
    emp_mail_id = emp_mail_id_entry.get()
    designation = designation_entry.get()
    salary = int(salary_entry.get())
    office_address = office_address_entry.get()
    original_city = original_city_entry.get()
    pincode = int(pincode_entry.get())
    contact_no = int(contact_no_entry.get())
    
    conn = createconnection()
    cursor = conn.cursor()
    args = employee_id , employee_name, dob , age , gender , fathers_name , emp_mail_id , designation , salary , office_address , original_city ,pincode, contact_no
    query = "insert into record(employee_id , employee_name, dob , age , gender, fathers_name , emp_mail_id , designation , salary , office_address , original_city ,pincode, contact_no )values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
    cursor.execute(query,args)
    conn.commit()
    conn.close()
    
    if employee_id == "":
        messagebox.showerror("error" , "please enter your id")
    elif employee_name == "":
        messagebox.showerror("error" , "please enter your name")
    elif age == "":
        messagebox.showerror("error" , "please enter your age")
    elif gender =="":
        messagebox.showerror("error" , "please enter your gender")
    elif fathers_name == "":
        messagebox.showerror("error" , "please enter your fathers_name")
    elif emp_mail_id == "":
        messagebox.showerror("error" , "please enter your mail - id")
    elif designation == "":
        messagebox.showerror("error" , "please enter your designation")
    elif salary == "":
        messagebox.showerror("error" , "please enter your salary")
    elif office_address == "":
        messagebox.showerror("error" , "please enter your office_address")
    elif  original_city == "":
        messagebox.showerror("error" , "please enter your city")
    elif  pincode == "":
        messagebox.showerror("error" , "please enter your pincode")
    elif contact_no == "":
        messagebox.showerror("error" , "please enter your contact_no")
    else:
        messagebox.showinfo("success" , "ALL DETAILS ARE FILLED SUCCESSFULY")

def clear():
    employee_id_entry.delete(0,1)
    employee_name_entry.delete(0,1)
    age_entry.delete(0,1)
    gender_entry.delete(0,1)
    fathers_name_entry.delete(0,1)
    emp_mail_id_entry.delete(0,1)
    designation_entry.delete(0,1)
    salary_entry.delete(0,1)
    office_addres_entry.delete(0,1)
    original_city_entry.delete(0,1)
    pincode_entry.delete(0,1)
    contact_no_entry.delete(0,1)

In [7]:
employee_database = Label(r,text = "EMPLOYEE - DATABASE" , font = 100)
employee_database.place(x = 400 , y = 30)

employee_id = Label(r,text = "EMPLOYEE - ID",font = 100)
employee_id.place(x = 50 ,y = 100)
employee_id_entry = Entry(font = 100)
employee_id_entry.place(x = 300, y = 100)

employee_name= Label(r,text = "EMPLOYEE - NAME",font = 100)
employee_name.place(x = 530 ,y = 100)
employee_name_entry = Entry(font = 100)
employee_name_entry.place(x = 700, y = 100)

dob = Label(r,text = "DOB",font = 100)
dob.place(x = 50 , y = 150)
dob_entry = DateEntry(font = 100)
dob_entry.place(x = 200 , y = 150)

age = Label(r,text = "AGE",font = 100)
age.place(x = 380 , y = 150)
age_entry = Entry(font = 100)
age_entry.place(x = 450 , y = 150)

gender = Label(r,text = "GENDER",font = 100)
gender.place(x = 680 , y = 150)
gender_entry = Entry(font = 100)
gender_entry.place(x = 780 , y = 150)

fathers_name = Label(r,text = "EMPOLYEE - FATHER'S NAME",font = 100)
fathers_name.place(x = 50 ,y = 200)
fathers_name_entry = Entry(font = 100)
fathers_name_entry.place(x = 300, y = 200)

emp_mail_id = Label(r,text = "EMPLOYEE - MAIL - ID",font = 100)
emp_mail_id.place(x = 50 ,y = 250)
emp_mail_id_entry = Entry(font = 100)
emp_mail_id_entry.place(x = 300, y = 250)

designation = Label(r,text = "DESIGNATION",font = 100)
designation.place(x = 50 ,y = 300)
designation_entry = Entry(font = 100)
designation_entry.place(x = 300, y = 300)

salary = Label(r,text = "SALARY",font = 100)
salary.place(x = 50 ,y = 350)
salary_entry = Entry(font = 100)
salary_entry.place(x = 300, y = 350)

office_address = Label(r,text = "OFFICE - ADDRESS",font = 100)
office_address.place(x = 50 ,y = 400)
office_address_entry = Entry(font = 100)
office_address_entry.place(x = 300, y = 400)

original_city = Label(r,text = "ORIGINAL - CITY",font = 100)
original_city.place(x = 50 , y = 450)
original_city_entry = Entry(font = 100)
original_city_entry.place(x = 300 , y = 450)

pincode = Label(r,text = "PINCODE",font = 100)
pincode.place(x = 50 , y = 500)
pincode_entry = Entry(font = 100)
pincode_entry.place(x = 300 , y = 500)

contact_no = Label(r,text = "CONTACT - NO",font = 100)
contact_no.place(x = 50 , y = 550)
contact_no_entry = Entry(font = 100)
contact_no_entry.place(x = 300 , y = 550)


submit = Button(r,text = "SUBMIT", font = 100 , command = submit)
submit.place(x = 200 , y = 650 )

clear = Button(r,text = "CLEAR", font = 100 , command = clear)
clear.place(x = 450 , y = 650 )

Exit = Button(r,text = "EXIT", font = 100 , command = r.destroy)
Exit.place(x = 700 , y = 650)

mainloop()